<!doctype html>
<html lang="en">
<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- HTML에 이 부분을 추가하고 -->
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- JS -->   
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='mysytle.css') }}">
  
  <script>
    function subscribe() {

      let name = $('#Sc_Name').val();
      let count = $('#Sc_Count').val();
      let address = $('#Sc_Address').val();
      let phone = $('#Sc_Phone').val();
      let item = "FIFA20";

      $.ajax({
        type: "POST",
        url: "/order",
        data: { name_give: name, count_give: count, address_give: address, phone_give: phone, item_give: item},
        success: function(response){
          if (response['result'] == 'success') {
            alert('구독 신청이 접수되었습니다');
            window.location.reload();
          } else if (response['result'] == 'fail'){
            alert('서버 오류!')
          }
        }
      })
    }

    $(document).ready(function(){
      $('#WholeList > tbody').empty();
      listing();
    });

    function listing() {
      $.ajax({
      type: "GET",
      url: "/order?item_give=FIFA20",
      data: { item_give: "FIFA20" },
      success: function(response){
        if (response['result'] == 'success') {
          let orders = response['sc_lists'];
          console.log(orders);
          for (let i = 0; i < orders.length; i++) {
            make_ScList(orders[i]['item'], orders[i]['name'],orders[i]['count'],orders[i]['address'],orders[i]['phone'])
          }
        } else {
          alert('구독 리스트를 받아오지 못했습니다.');
        }
      }
    })
    }

    function make_ScList(item, name, count, address, phone) {
      let temp_ScList = '<tr>\
      <td>'+item+'</td>\
      <td>'+name+'</td>\
      <td>'+count+'</td>\
      <td>'+address+'</td>\
      <td>'+phone+'</td>\
    </tr>';
      $('#ScList').append(temp_ScList);
    }

  </script>

  <title>원 페이지 쇼핑몰!</title>
</head>

<body>
  <br>
  <div class = "wrapper my-box">
    <img src="http://imgnews.naver.net/image/236/2019/09/05/0000194597_001_20190905112521053.png" class="img-fluid" alt="Responsive image" width="60%" height="60%">
  </div>

  <div class = "wrapper" style = "margin-top: 30px">
    <h2 style="font-weight: bold;">FIFA 20 얼티밋 에디션</h2>
    <h6>월간 ₩ 16,500 또는 연간 ₩ 107,500에 모든 혜택을 누리세요.</h6>

  </div>

  <div class = "wrapper" style = "margin-top: 30px">
    <h5 style="font-weight: bold;">FIFA 20 얼티밋 에디션 구매 시 혜택:</h5>
    <ui>
      <li>레어 골드 팩 최대 20개(매주 2개씩 10주)</li>
      <li>임대 아이콘 선수 선정: FUT 5 경기용 임대 아이콘 아이템(중간 버전) 5개 중에서 한 가지 선택</li>
      <li>스페셜 에디션 FUT 키트</li>
    </ui>
    <h6 style="margin-top: 30px;">* FIFA 포인트가 판매되는 PS4, XBOX ONE 및 PC에서만 얼티밋 에디션 구매 가능. 이용약관이 적용됩니다.</h6>
    <h6 style="margin-top: -5px;">자세한 내용은 <a href="https://www.ea.com/ko-kr/games/fifa/fifa-20/fifa-20-game-and-offer-disclaimers/" target="_blank">https://www.ea.com/ko-kr/games/fifa/fifa-20/fifa-20-game-and-offer-disclaimers</a>를 참고하세요.</h6>

  </div>
  <div style="margin-left: -75px">
  <div class="container" style="margin-top: 30px; width: 500px;">
    <div class="row" style="text-align: left; align-items: baseline; margin: auto;">
      <div class="col-2">
      </div>
      <div class="col my-underborder">
        <h6 style="font-weight: bold; text-align: left;">스튜디오</h6>          
      </div>
      <div class="col-7 my-underborder">
        <h6>EA 벤쿠버, EA 루마니아</h6>
      </div>
    </div>
  </div>

  <div class="container" style="width: 500px;">
    <div class="row" style="text-align: left; align-items: baseline; margin: auto;">
      <div class="col-2">
      </div>
      <div class="col my-underborder">
        <h6 style="font-weight: bold; text-align: left;">장르</h6>          
      </div>
      <div class="col-7 my-underborder">
        <h6>스포츠</h6>
      </div>
    </div>
  </div>

  <div class="container" style="width: 500px;">
    <div class="row" style="text-align: left; align-items: baseline; margin: auto;">
      <div class="col-2">
      </div>
      <div class="col my-underborder">
        <h6 style="font-weight: bold; text-align: left;">플랫폼</h6>          
      </div>
      <div class="col-7 my-underborder">
        <h6>Xbox One, PlayStation 4, Origin</h6>
      </div>
    </div>
  </div>

  <div class="container" style="width: 500px;">
    <div class="row" style="text-align: left; align-items: baseline; margin: auto;">
      <div class="col-2">
      </div>
      <div class="col my-underborder">
        <h6 style="font-weight: bold; text-align: left;">출시일</h6>          
      </div>
      <div class="col-7 my-underborder">
        <h6>2019년 9월 24일</h6>
      </div>
    </div>
  </div>
</div>

  <div class="wrapper" style = "margin-top: 75px">
    <h2 style="font-weight: bold;">구독 신청하러 가기!</h2>
  </div>

<div style="margin-left: -75px">
  <div class="container" style = "width: 300px;">
    <div class="row" style="margin-top: 10px; align-items: baseline;">
      <div class="col" style="text-align: left;">
        <h6>구독자 성함:</h6>
      </div>
      <div class="col-7" style="text-align: left;">
        <input type = "text" id="Sc_Name">
      </div>
    </div>

    <div class="row" style="margin-top: 10px; align-items: baseline;">
      <div class="col" style="text-align: left;">
        <h6>구독 기간:</h6>
      </div>
      <div class="col-7" style="text-align: left;">
        <select name = "개월" id="Sc_Count" style="width: 219px;">
          <option value = "1">1개월 - ￦ 16,500</option>
          <option value = "3">3개월 - ￦ 49,500</option>
          <option value = "6">6개월 - ￦ 99,000</option>
          <option value = "12">12개월 - ￦ 107,500</option>
        </select>
      </div>
    </div>

    <div class="row" style="margin-top: 10px; align-items: baseline;">
      <div class="col" style="text-align: left;">
        <h6>신청자 주소:</h6>
      </div>
      <div class="col-7" style="text-align: left;">
        <input type = "text" id="Sc_Address">
      </div>
    </div>

    <div class="row" style="margin-top: 10px; align-items: baseline;">
      <div class="col" style="text-align: left;">
        <h6>전화번호:</h6>
      </div>
      <div class="col-7" style="text-align: left;">
        <input type = "text" id="Sc_Phone">
      </div>
    </div>
  </div>
</div>
</div>

<div class = "wrapper" style="margin-top: 20px;">
  <button type="button" class="btn btn-primary" onclick="subscribe()">구독 신청</button>
</div>

<table class="table" style ="width: 800px; margin: auto; margin-top: 100px; margin-bottom: 50px;" id = "WholeList">
  <thead>
    <tr>
      <th scope="col">상품명</th>
      <th scope="col">구독자 성함</th>
      <th scope="col">구독 기간</th>
      <th scope="col">구독자 주소</th>
      <th scope="col">전화번호</th>
    </tr>
  </thead>
  <tbody id = "ScList">
    <tr>
      <td>FIFA20</td>
      <td>최승현</td>
      <td>12개월</td>
      <td>서울시 은천로</td>
      <td>01033333333</td>
    </tr>
  </tbody>
</table>

</body>
</html>