<!doctype html>
<html lang="en">
<head>

	<!-- Webpage Title -->
	<title>유저 동향 파악 보조툴</title>

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- JS -->   
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<!-- 구글폰트 -->
	<link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">

	<style type="text/css">
		* {
			font-family: 'Stylish', sans-serif;
		}
		.wrap {
			width: 900px;
			margin: auto;
		}
		.comment {
			color: blue;
			font-weight: bold;
		}
		.form-post {
			max-width: 500px;
			padding: 2rem;
			margin: 2rem auto;
			border-color: #e9ecef;
			border-radius: 0.3rem;
			border: solid;
			display: block;
		}
		#posting-box {
			display: none;
		}
	</style>

	<script>
		function searching() {
			let word_search = $('#word_search').val();
			$.ajax({
				type: "GET",
				url: "/search",
				data: {word_search : word_search},
        success: function(response){ // 성공하면
        	if (response['result'] == 'success') {
        		alert('검색 요청 성공!');
        		let articles = response['result_list'];
        		for (let i = 0; i < articles.length; i++) {
        			make_card(articles[i]['title'],articles[i]['content'],articles[i]['comment_col'])
        		}
        	} else {
        		alert('서버 오류!')
        	}
        }
    })
		}

		function make_card(title, content, comment_col) {
			let temp_html = '<div class="card w-300">\
			<div class="card-body">\
			<h5 class="card-title">제목<br>'+title+'</h5>\
			<p class="card-text">본문<br>'+content+'</p>\
			<p class="card-text">댓글<br>'+comment_col+'</p>\
			</div>\
			</div>';
			$('#cards-box').append(temp_html);
		}
		
		function uplaoding() {
			$.ajax({
				type: "POST",
				url: "/uplaod",
				data: {},
        success: function(response){ // 성공하면
        	if (response['result'] == 'success') {
        		alert('대화 내용이 DB에 업로드 완료되었습니다!');
        	} else {
        		alert('서버 오류!')
        	}
        }
    })
		}
	</script>
</head>

<body>
	<div class="wrap">
		<h1>유저 동향 파악 보조 툴</h1>
	</div>
	<div class="wrap">
		<div class="form-group">
			<label for="exampleFormControlInput1">검색 단어</label>
			<input id="word_search" class="form-control" placeholder="">
			<button onclick="searching()" class="btn btn-primary">검색</button>
		</div>
		<form action = "/upload" method = "POST"
		enctype = "multipart/form-data">
		<input type = "file" name = "file[]" multiple/>
		<input type = "submit"/>
	</form>
	<div class="card-columns"  id="cards-box" style="width: 2000px">
	</div>
</body>
</html>