    * {
      font-family: 'Noto Sans KR', sans-serif;
    }
    .wrapper {
      text-align: center;
    }
    .my-box { 
      border:1px solid; width: 90%; margin: auto; border-width: 2px;
    }
    .my-underborder {
      border-bottom: 1px solid; margin-bottom: 10px;
    }